
  <h3 class=" main-title text-danger mb-5 text-center " >about</h3>

  <div class="row">
    <div class="about " id="about">
      <div class="about-resturant col-12 col-lg-5 p-4">
        <h2 >Our Story: A Journey of Flavor and Tradition</h2>
        <p class=".text-dark ">Welcome to Master Cheef,
          where passion for food meets culinary excellence. Nestled in the heart of Mansoura,
          we offer a unique dining experience that blends traditional flavors with modern innovation.<br><br>
          Our chefs craft each dish with the freshest, locally sourced ingredients to deliver bold and vibrant flavors in
          every bite. Whether you are here for a quick lunch, a romantic dinner, or a special celebration, we are committed
          to providing warm hospitality, a relaxed atmosphere, and a memorable dining experience that keeps you coming back
          for more</p>
          <div class="food">
            <div class="text-center">
              <img src="images/hamburger.jpg" class="rounded mx-auto d-block"  alt="" width="100px" height="100px">
            </div>

            <div class="text-center">
              <img src="images/meat.jpg" class="rounded mx-auto d-block" alt="" width="100px" height="100px">

            </div>
            <div class="text-center">
              <img src="images/bowl.jpg" class="rounded mx-auto d-block" alt="" width="100px" height="100px">

            </div>
          </div>
      </div>
      <div class="video col- col-lg-6" >
        <video src="images/video.mp4" controls loop height="500px" width="600px" max-width="100%" ></video>
      </div>
    </div>

  </div>

