<h3 class=" main-title text-danger mb-5 text-center " >chefs</h3>
<div class="chefs" id="chefs">

  <div class="card-group ">
    <div class="card text-white text-center" style="border: 2px solid #FFD700">
      <img class="card-img-top img-fluid " src="images/chef1 (1).png">
      <div class="card-body " style="background-color:#5C5C5C;border: 1px solid gold;">
        <h5 class="card-title">Massimo Bottura</h5>
        <p class="card-text text-dark fw-bold"> Italian</p>

      </div>
    </div>
    <div class="card text-white text-center" style="border: 2px solid #FFD700">
      <img class="card-img-top img-fluid" src="images/chef2.png" alt="Card image cap"   >
      <div class="card-body " style="background-color:#5C5C5C;">
        <h5 class="card-title">Yoshihiro Murata</h5>
        <p class="card-text text-dark fw-bold">Japanese</p>

      </div>
    </div>
    <div class="card text-white text-center" style="border: 2px solid #FFD700">
      <img class="card-img-top img-fluid" src="images/chef3.png" >
      <div class="card-body " style="background-color:#5C5C5C;">
        <h5 class="card-title">Dominique Crenn</h5>
        <p class="card-text text-dark fw-bold">French-American</p>

      </div>
    </div>
  </div>
</div>
